.main{
position: relative;
}
.popup{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 255, 255, 0.085);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-popup{
    height: 400px;
    width: 500px;
    background-color: #fff;
}