

  
  .links{
    color: var(--skill-color);
  }

.mn-navbar{
    height: 20px;
    font-size: 20px;
   
}
/* h1{
    color: #000;
} */
/* .cartvalue{
    position: absolute;
    top: 0;
    left: 0;
} */