@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.user-container {
    /* width: 100vw; */
    /* margin: 30px auto; */
    color: #fff;
    overflow: scroll;
    height: 85vh;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px #40361E solid;
    line-height: 1;
    font-weight: normal;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    padding: 20px 20px;
    text-align: left;
  
}

table th {
    padding: 25px 20px;
    background-color: #77d5d4;
    position: relative;
    cursor: pointer;
    color: #f2fbfa;
    border-bottom: solid 15px;
}
table th:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    right: 20px;
}
table th.asc:after {
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #E2E2E2 transparent;
}

table th.desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #E2E2E2 transparent transparent transparent;
}

table tr:nth-child(odd) td {
    background-color: #efeeee;
    color:#000
}


.modalsec{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f7f7f7;
    overflow: scroll;
    /* border-radius: 20px; */
    padding: 28px;
    color: #000;
    font-family: "Montserrat", sans-serif;

}
.modalsec2{
    width: 100%;
    margin-top: 30px;
}
.ms-1{
    width: 45%;
    height: 60vh;
    overflow: scroll;
    
}
.ms-bx{
    padding: 15px ;
    border-radius: 15px;
    background-color: #cfcfcf;
   
}
/* .dt-sec{
    color: #000000dd;
} */

.stats{
    width: 45%;
    padding: 7px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 2px solid #fff;

}
.stats-1{
    width: 90%;
    margin: 0px auto;
    padding: 7px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 2px solid #fff;

}

.modelsec3{
    width:93%;
    margin: 25px auto;

   
    padding: 7px;
    background-color: #cfcfcf;
    border-radius: 10px;
    border: 2px solid #fff;

}
