/* swiper css */

.hm-container{
  display: flex;
  width: 100%;
 

  
}

.sec-1{
  width: 50%;
  height: 100vh;
  background-color: red;
 overflow: hidden;
}
.sec-2{
  width: 50%;
  height: 100vh;
  background-color: yellow;
  overflow-x: hidden;
}
/* .sec-1:hover{
  width: 150%;
}
.sec-2:hover{
  width: 150%;
} */








.left-div{
  background-color: red;
 
}
.right-div{
  background-color: rgb(50, 29, 153);
  
}
.image{
  width: 300px;
  display: flex;
  position: relative;
}
.img{
  position: absolute;
}
.img1{
  transform: rotate(-20deg);
  left: -26px;
  
}
.img2{
  transform: rotate(0deg);

}
.img3{
  transform: rotate(20deg);
  left: 20px;

}
.image:hover .img{
  scale: 1.2;
  
}

